<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quiz.lessson06.mapper.BookMarkMapper">
	<insert id="insertBookMark" parameterType="map">
		INSERT INTO `bookmark`
		(
			`name`
			,`url`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{name}
			,#{url}
			,now()
			,now()
		) 
	</insert> 
	
	<select id="selectBookMarks" resultType="com.quiz.lessson06.domain.BookMark">
		SELECT
			`id`
			,`name`
			,`url`
			,`createdAt`
			,`updatedAt`
		FROM
			`bookmark`
	</select>
	
	<select id="existUrlByUrl" parameterType="String" resultType="boolean">
		SELECT
			COUNT(1)
		FROM
			`bookmark`
		WHERE
			`url` = #{url}
	</select>
	
	<delete id="deleteDataById" parameterType="int">
		DELETE FROM
			`bookmark`
		WHERE
			`id` = #{id}
	</delete>
	
	
	
	
</mapper>